@page "/callBlazorWasm"

<div class="alert alert-secondary mt-4">
	<span class="oi oi-pencil me-2" aria-hidden="true"></span>
	<h3>Call Blazor WASM</h3>

	<span class="text-nowrap">
		Call Blazor app
		<a target="_blank" class="font-weight-bold" href="@BlazorWasmUrl">click here</a>
	</span>
</div>

@code {
	//private const string BlazorWasmUrl = "http://10.0.2.2:5000";
	private const string BlazorWasmUrl = "https://collaborationhub-client-poc-ca.yellowbeach-ccabda61.northeurope.azurecontainerapps.io";
}
